<?xml version="1.0" encoding="utf-8"?>
<ServerConfig>
	<key name="system" value="">
		<key name="sql-uri" value="sql uri here" />
	</key>
	<key name="modules" value="mudules">
		<key name="module-name" value="">
		</key>
	</key>
</ServerConfig>
